.navbar {
  width:auto;
  text-align : center;
  box-shadow: 0 1px 10px #707070;
  margin: 0 0 0 0;
  padding: .1rem .5rem;
}

.navbar-brand {
  padding-top: 0px;
  font-size: 30px;
}


/*for profile*/

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
}

.container {
  padding: 1.7rem;
}

/* list-title */

.list-name {
  border-top: solid;
  border-bottom: double;
  text-align: center;
}

#add {
  position: relative;
  right: .5rem;
  bottom: 2.7rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #000;
  border: solid thin #000;
  text-align: center;
}

#add p {
  position: relative;
  margin: 0px;  /*これを追加*/
  top:50%;
  transform: translateY(-50%);
  font-size: 4rem;
}


/* dream list card */

.card {
  width: 40rem;
  margin: .5rem 0;
  padding: 0;
}

.card-body {
  font-size: 20px;
}

.card-body > p {
  float: left;
}

.good-button > img {
  width: 1.7rem;
}
